{% extends "base_principal.html" %}

{% block content_entrada %}
    <h1 class="display-5 font-italic">Acabas de iniciar sesión. Bienvenido.</h1>
    <h2>Esta es la página de bienvenida al usuario recién logeado.</h2>
    <h2>Esta es la página de bienvenida al usuario recién logeado.</h2><h2>Esta es la página de bienvenida al usuario recién logeado.</h2>
    <h2>Esta es la página de bienvenida al usuario recién logeado.</h2>
    <h2>Esta es la página de bienvenida al usuario recién logeado.</h2>


{% endblock %}