{% extends "base_principal.html" %}

{% block content_entrada %}
    <h1 class="display-5 font-italic">Has cerrado sesión.</h1>
    <h2>Esta es la página de despedida del usuario que acaba de cerrar sesión.</h2>
    <h2>Esta es la página de despedida del usuario que acaba de cerrar sesión.</h2>
    <h2>Esta es la página de despedida del usuario que acaba de cerrar sesión.</h2>
    <h2>Esta es la página de despedida del usuario que acaba de cerrar sesión.</h2><h2>Esta es la página de despedida del usuario que acaba de cerrar sesión.</h2>
    <h2>Esta es la página de despedida del usuario que acaba de cerrar sesión.</h2>

{% endblock %}

