{% load static %}               {# carga de ficheros estáticos principales #}


<footer>

    <div class="container-fluid pre_footer">
        <div class="row">
            <div class="col-4">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <p>Aquí podría ir una foto o un icono bien bonito</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3"><p class="fw-lighter text-right">Título TFG</p></div>
                    <div class="col-9"><p class="fw-light fst-italic">Optimización de la factura de la luz mediante la lectura de los Smart Meters</p></div>
                </div>
                <div class="row">
                    <div class="col-3"><p class="fw-lighter text-right">Fecha de presentación</p></div>
                    <div class="col-9"><p class="fw-light">Septiembre 2019</p></div>
                </div>
                <div class="row">
                    <div class="col-3"><p class="fw-lighter text-right">Tutores</p></div>
                    <div class="col-9">
                        <ul>
                            <li class="fw-light">Fernando de la Prieta</li>
                            <li class="fw-light">Javier Prieto</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"><p class="fw-lighter text-right">Alumno</p></div>
                    <div class="col-9"><p class="fw-light">Roberto Benéitez Vaquero</p></div>
                </div>

                <div class="row">
                    <div class="col-3"><p class="fw-lighter text-right">Titulación</p></div>
                    <div class="col-9"><p class="fw-light">Grado en Ingeniería Informática</p></div>
                </div>
            </div>
        </div>


    </div>


    <div class="container-fluid">

{#        <div class="row justify-content-center marco-footer py-2 px-2">#}
{#            <div class="col-3 text-center">#}
{#                <img class="img-fluid px-5 pt-3" src="{% static 'img/USALseal.svg' %}"#}
{#                     alt="Universidad De Salamanca Escudo">#}
{#                <p class="lead font-weight-bolder">#}
{#                    <small><strong>Universidad de Salamanca</strong></small>#}
{#                </p>#}
{#            </div>#}
{#        </div>#}

        <div class="row justify-content-between bg-dark">
            <div class="col-4 text-left">
                <p class="text-light font-weight-light my-0 py-1">
                    <small><em>Ingeniería Informática</em></small>
                </p>
            </div>
            <div class="col-4 text-right">
                <p class="text-light text-center font-weight-light my-0 py-1">
                    <small><em>Julio 2019</em></small>
                </p>
            </div>
            <div class="col-4 text-right">
                <p class="text-light font-weight-lighter font-weight-light my-0 py-1">
                    <small><em>Roberto Benéitez Vaquero</em></small>
                </p>
            </div>
        </div>

    </div>


{#    <div class="container-fluid">#}
{#        <div class="row justify-content-between rFooter">#}
{#            <div class="col-4 colFooter">#}
{#                <p>Facultad de Ciencias</p>#}
{#            </div>#}
{#            <div class="col-4 colFooter">#}
{#                <img src="{% static 'img/usal_escudo01.png' %}" alt="escudo usal" width="35px" height="35px">#}
{#            </div>#}
{#            <div class="col-4 colFooter">#}
{#                <p>Universidad de Salamanca</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

</footer>