{% extends "base.html" %}

<div class="container">

  <!-- Presentación -->
  <section class="contenedor-main row my-5">
    <main class="col-md-8">
      <h1 class="display-5 font-italic">Optimización de la factura de la luz mediante la lectura de los Smart Meters</h1>
      <p class="lead my-3">Parrafada.</p>

      <p><a href="#" class="text-success">Saber más...</a></p>
    </main>
    <aside class="col-md-4 align-self-center text-right">
      <h3>Tutores:</h3>
      <p>Fernando de la Prieta</p>
      <p>Javierto Prieto</p>

      <h4 class="mt-5">Alumno:</h4>
      <p>Roberto Benéitez Vaquero</p>
    </aside>
  </section>
</div>