{% extends "forecasting/inmueble/base_inmueble.html" %}


{% block content_inmueble %}


    <div class="mt-0 mb-2 pt-0 pb-3 px-4">
        {% if inmueble_list.exists %}
            <h3 class="mb-3">Listado de Inmuebles (fichero "user_inmueble_list.html"):</h3>

            <div class="row">
                <div class="col-9 border-right border-info">
                    <ul class="list-unstyled row justify-content-start">
                        {% for inmueble in inmueble_list %}
                            {% include "forecasting/inmueble/_inmueble_list_item.html" %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-3 my-3">
                    <p class="text-justify lead">Crea un nuevo Inmueble o sube un Consumo Parcial para añadir más datos
                        a uno existente:</p>
                    <a class="btn btn-outline-info btn-block my-3"
                       href="{% url 'forecasting:create_inmueble' username=user.username %}"
                       class="dropdown-item">Crear Inmueble</a>
                    <a class="btn btn-outline-info btn-block my-3"
                       href="#"
                       class="dropdown-item">Subir Consumo Parcial</a>
                </div>
            </div>


        {% else %}

            <div class="row justify-content-center">
                <h3 class="display-4 mb-5">Primero debes añadir un Inmueble (fichero "user_inmueble_list.html")</h3>
                <div class="col-6 my-3">
                    <p class="text-justify lead">Crea un nuevo Inmueble o sube un Consumo Parcial para añadir más datos
                        a
                        uno existente:</p>
                    <a class="btn btn-outline-info btn-block"
                       href="{% url 'forecasting:create_inmueble' username=user.username %}"
                       class="dropdown-item">Crear Inmueble</a>
                </div>
            </div>

        {% endif %}

    </div>


{% endblock %}