{% extends "forecasting/inmueble/base_inmueble.html" %}

{% load humanize %}


{% block content_inmueble %}

<div class="jumbotron mt-4">

	<h1>Listado completo de los Inmuebles (fichero "inmueble_list.html")</h1>
	<h3 class="mr-5 mb-5 font-italic text-right"><a class="text-muted" href="{% url 'forecasting:for_user_inmuebles' username=user.username %}">{{ user.username }}</a></h3>

	<ul class="list-unstyled row justify-content-between">
		{% for inmueble in inmueble_list %}
	  	{% include "forecasting/inmueble/_inmueble_list_item.html" %}
		{% endfor %}
	</ul>

</div>

{% endblock %}